
<popup-select (agregarItem)="importandoItem($event)" class="centerPos" [item]="itemMenu" *ngIf="bpopupselect" (descartar)="descartarPopUp($event)"></popup-select>

<div class="container restoprincipal">
  <nav>
    <i class="fas fa-search brume-span"></i>
  </nav>
    <div class="row p-1">

        <div [ngClass]="{'circulo' : circle , 'pedido' : ped}" >
          <button>HOola</button>
        </div>

        <div class="logoWrapp text-center" [ngClass]="{'logoAnim' : logoAnim }">
            <img class="logo rounded-circle" [src]="logosrc" alt="">
        </div>
        <div *ngIf="bubicacion" class="ubicacionprohib text-center">
            <h3>Todavia no se puede ingresar al Menu</h3>
            <h5 class="mt-2 brumeSoftText">Te encontras a <span class="brume-span">{{distanciaLocal}} KM </span>del local</h5>
        </div>

        <div class="mainmenu P-0" *ngIf="bmainmenu" >


                <mat-tab-group class="categoriasWrapp">

                    <mat-tab class="mt-3" *ngFor="let cat of categorias" label="{{cat}}">
                        <ul class="p-0">
                            <li *ngFor="let r of restaurantMenuFilter(cat)" (click)="abrirItem(r)" class="p-1">
                              <h5 class="p-1">{{r.nombre}} <span class="precio1 font-weight-bold pull-right text-right ">${{r.Precio}}</span></h5>
                             </li>
                        </ul>

                      </mat-tab>
                </mat-tab-group>




            <button class="btn-bfull btn-brume4" (click)="revisarpedido()">
              REVISAR PEDIDO <span class="badge badge-light">{{npedidoCerrado}}</span>
            </button>

        </div>



        <div class="qrtab">
            <div class="row">
                <qrgenerator *ngIf="bqrcode" [value]="pedido"></qrgenerator>
            </div>

        </div>



        <div class="mobiletab pt-3">
            <ul class="row iconMenu p-0">
                <li class="col-4"><i class="icon brumeIcon fas fa-utensils" (click)="menuOpt()"></i></li>
                <li class="col-4"><i class="icon brumeIcon fas fa-qrcode" (click)="qrOpt()"></i></li>
                <li class="col-4"><i class="icon brumeIcon fas fa-store" (click)="adminOpt()"></i></li>
            </ul>
        </div>

    </div>


</div>

