
<div class="container restoprincipal">
    <div class="row p-1">

        <div class="circulo"></div>
        <div class="logoWrapp text-center">
            <img class="logo rounded-circle" [src]="logosrc" alt="">
        </div>
        <div *ngIf="bubicacion" class="ubicacionprohib text-center mt-4">
            <h3>Todavia no se puede ingresar al Menu</h3>
            <p>Te encontras a <span class="brume-span">{{distanciaLocal}} KM </span>del local</p>
        </div>

        <div class="mainmenu" *ngIf="bmainmenu" >


                
                <mat-tab-group class="categoriasWrapp">
                    <mat-tab label="Comida">
                        <ul class="p-0">
                            <li *ngFor="let r of restaurantMenu">{{r.nombre}} <span>......</span><span class="text-right font-weight-bold precio1">${{r.Precio}}</span></li>
                        </ul>
    
                      </mat-tab>
                  <mat-tab label="Bebidas">

                  </mat-tab>

                  <mat-tab label="Postre">

                  </mat-tab>
                </mat-tab-group>
                

 

            <button class="btn-bfull btn-brume4" (click)="crearqr()">
                CREAR PEDIDO QR
            </button>
            
        </div>



        <div class="qrtab">
            <div class="row">
                <qrgenerator *ngIf="bqrcode" [value]="pedido"></qrgenerator>
            </div>

        </div>
        


        <div class="mobiletab pt-3">
            <ul class="row iconMenu p-0">
                <li class="col-4"><i class="icon brumeIcon fas fa-utensils" (click)="menuOpt()"></i></li>
                <li class="col-4"><i class="icon brumeIcon fas fa-qrcode" (click)="qrOpt()"></i></li>
                <li class="col-4"><i class="icon brumeIcon fas fa-store" (click)="adminOpt()"></i></li>
            </ul>
        </div>

    </div>

    
</div>

